{% assign navbar-items = site.data.i18n.[page.lang].navbar %}
<div>
    <marquee behavior="scroll" style="background-color: yellow; color: black;">
        Diese Seite dient nur zur Demonstration. Weder die senseBox Weihnachtsedition noch das Livetracking sind reale
        Produkte.
    </marquee>
    <nav class="navbar navbar-expand-xl">
        {% if page.lang == 'de' %}
        <a class="navbar-brand" href="{{ site.baseurl }}/"><img loading="lazy" src="/images/logos/ranzen_logo.svg"
                class="d-inline-block align-top" alt=""></a>
        {% else %}
        <a class="navbar-brand" href="{{ site.baseurl }}/{{ page.lang }}"><img loading="lazy"
                src="/images/logos/ranzen_logo.svg" class="d-inline-block align-top" alt=""></a>
        {% endif %}

    </nav>
</div>